.avatar {
  display: flex;
  justify-content: center;
  // background: black;
  background: rgba(255, 255, 255, 0.4);
  clip-path: circle(170px at center);
  transition: all 1s ease-in-out;
  img {
    width: 70%;
  }
}

.avatar1 {
  display: flex;
  justify-content: center;
  img {
    width: 10%;
  }
}
