/* Some default styles to make each box visible */
.box {
  color: white;
  // font-size: 2rem;
  // text-align: center;

  flex-basis: 500px;
  // width: calc(33.333333% - 20px);
  padding: 32px;

  // margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: auto;

  // h1 {
  //   text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  //   text-transform: uppercase;
  // }
}

/* Colours for each box */
.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}
.box3 {
  background: #9b59b6;
}
.box4 {
  background: #040c26;
}
.box5 {
  background: #f1c40f;
}
.box6 {
  background: #e67e22;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
.box7 {
  background: #e74c3c;
}
.box8 {
  background: #bdc3c7;
}
// .box9 {
//   background: #2ecc71;
// }
.box10 {
  background: #16a085;
}

.box11 {
  background: #1abc9c;
}
.box12 {
  background: #3498db;
}
.box13 {
  background: #9b59b6;
}
.box14 {
  background: #34495e;
}
.box15 {
  background: #f1c40f;
}
.box16 {
  background: #e67e22;
}
.box17 {
  background: #e74c3c;
}

.box1 {
  flex: 1 4 33.33333334%;
}
.box2 {
  flex: 4 1 33.33333334%;
}
.box3 {
  flex: 1 5 33.33333334%;
}
.box4 {
  flex: 1 0 100%;
  position: relative;
}

.box5 {
  flex: 1 0 100%;
}
.box6 {
  flex: 1 0 100%;
}
.box7 {
  flex: 1 0 100%;
}
.box8 {
  flex: 1 0 40%;
}
.box9 {
  flex: 1 0 60%;
}
.box10 {
  flex: 1 0 50%;
}
.box11 {
  flex: 1 0 70%;
}
.box12 {
  flex: 1 0 70%;
}
.box13 {
  flex: 1 0 30%;
}
.box14 {
  flex: 1 0 25%;
  margin-right: 2rem;
}
.box15 {
  flex: 1 0 25%;
  margin-right: 2rem;
}
.box16 {
  flex: 1 0 25%;
}
.box17 {
  flex: 1 0 25%;
}

@media all and (max-width: 1500px) {
  .box {
    color: white;
    // font-size: 2rem;
    text-align: left;
    // text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    // text-transform: uppercase;
  }
  .box1 {
    flex: 1 2 50%;
    order: 4;
  }

  .box2 {
    order: 2;
    flex: 1 5 50%;
    img {
      width: 80%;
    }
    clip-path: circle(110px at center);
    background: rgba(255, 255, 255, 0.5);
    // transition: all 1s ease-in-out;
  }

  .box3 {
    order: 3;
    flex: 1 0 40%;
    h2 {
      font-size: 1.5rem;
    }
  }
  .box4 {
    flex: 1 2 50%;
    order: 1;
    justify-content: space-between;
  }
  .box5 {
    flex: 1 2 100%;
    order: 5;
  }

  .box6 {
    flex: 1 2 33.33333%;
    order: 6;
  }
  .box9 {
    flex: 4 0 50%;
    justify-content: space-between;
  }
}

@media all and (max-width: 767px) {
  /* Turn on flexbox */

  .box {
    width: 100%;
  }

  //   /* Reorder items */
  .container > * {
    order: 999;
  }

  //   .box {
  //     flex-basis: 500px;
  //     flex-grow: 1;
  //   }

  .box1 {
    order: 5;
    flex: 1 2 100%;
  }

  .box2 {
    order: 2;
    flex: 1 0 100%;
    clip-path: circle(110px at center);
    img {
      width: 90%;
    }
  }
  .box3 {
    order: 3;
    flex: 1 0 100%;
    h2 {
      font-size: 2rem;
    }
  }
  .box4 {
    order: 7;
    flex: 1 0 100%;
  }
  .box5 {
    order: 4;
    flex: 1 0 100%;
  }
  .box6 {
    order: 6;
    flex: 1 0 100%;
  }

  .box14 {
    flex: 1 0 100%;
  }
  .box15 {
    flex: 1 0 100%;
  }
  .box16 {
    flex: 1 0 100%;
  }
}
