.bottomtop {
  position: absolute;
  top: -60px;
  right: -26px;
  text-align: center;
}

.bottomright {
  position: fixed;
  bottom: 20px;
  right: 0;
  text-align: center;
  //   position: absolute;
  //   top: -26px;
  //   right: -50px;
}

.bottomleft {
  position: fixed;
  bottom: 20px;
  left: 0;
}

.demo {
  background-color: white;
  color: $noir-color;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px;
  margin: 10px;
  z-index: 30;
  //   transform: rotate(90deg);
}

@media (max-width: 991px) {
  .bottomright {
    position: fixed;
    top: 80vh;
    right: 2vw;
    transition: all 0.3s ease-in-out;
  }
  .bottomleft {
    position: fixed;
    bottom: 20px;
    left: 2vw;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 767px) {
  .bottomright {
    position: fixed;
    top: 86vh;
    right: -10px;
    transition: all 0.3s ease-in-out;
  }

  .bottomleft {
    position: fixed;
    bottom: 20px;
    left: -10px;
    transition: all 0.3s ease-in-out;
  }
}
