@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import "config";
@import "color";
@import "header";
@import "portfolio";
@import "media";
@import "animations";
@import "textani";
@import "panel";
@import "box";
@import "about";
@import "test";
@import "slider";

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  line-height: 1.5;

  background-color: #040c26;
  // background-image: linear-gradient(
  //     rgba(rgba(4, 12, 38, 0.05)) 2px,
  //     transparent 2px
  //   ),
  //   linear-gradient(90deg, rgba(255, 255, 255, 0.03) 2px, transparent 2px),
  //   linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  //   linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  // background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  // background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 96px;
  font-weight: 300;
}

h2 {
  font-size: 60px;
  font-weight: 600;
}
h3 {
  font-size: 48px;
  font-weight: 800;
}
h4 {
  font-size: 34px;
  font-weight: 400;
}
h5 {
  font-size: 24px;
  font-weight: 800;
}
h6 {
  font-size: 18px;
  font-weight: 600;
}
hr.solid {
  border-top: 3px solid #bbb;
}
